/*site wide settings*/

html {
  font-size: 18px;
  font-family: Helvetica;
}

/* site wide styles */
.main-container {
  display: flex;
  flex-direction: column;
}

a:link {
  color: inherit;
  text-decoration: none;
}


/* header */
header {
  display: flex;
  max-width: 960px;
  background-color: black;
}

.logo-name {
  display: flex;
  align-items: center;
  color: white;
}

.logo-name img {
  height: 1.5rem;
  padding-left: .5rem;
  padding-right: 1rem;
}

.logo-name span {
  padding-top: .66rem;
  padding-bottom: .66rem;
}

/* banner section */
.main-banner {
  display: flex;
  background-image: url('../mainbannerbkgrnd.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  max-width: 960px;
}

.banner-text {
  background-color: black;
  margin-top: 9rem;
  margin-bottom: auto;
  width: 20rem;
  color: white;
}

h2 {
  margin-top: 2rem;
  margin-bottom: .25rem;
  margin-left: 3rem;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3rem;
  margin-bottom: 2rem;
}

/* middle navigation */
.mid-nav {
  background-color: firebrick;
  display: inline-flex;
  justify-content: space-around;
  max-width: 960px;
}

nav {
  color: white;
  margin-top: .75rem;
  margin-bottom: .75rem;
}

nav span {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* product, location and hours section */
.productloc-container {
  display: flex;
  max-width: 960px;
}

.products {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  max-width: 960px;
}

.image-content {
    border: 4px solid black;
    width: 30%;
    margin-left: .5rem;
    margin-right: .5rem;
  
}

img {
  height: 9rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
}

h4 {
  background-color: black;
  color: white;
  text-align: center;

}

.location-hours {
  display: flex;
  margin-top: 3rem;
}

.location, .hours {
  width: 35%;

}


/* footer */
footer {
  display: flex;
  height: 5rem;
  background-color: black;
  color: white;
  align-items: center;
  max-width: 960px;
}

p {
  text-align: left;
}
/* media queries */
